@using EventManagementWebApp.ViewModels
@model ErrorViewModel

<div class="error-container">
    <h1>Error @Model.StatusCode</h1>
    <p>@Model.Message</p>
</div>

<style>
    .error-container {
        color: white;
        background-color: #333;
        padding: 50px;
        border-radius: 8px;
    }
</style>
